{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <a href="{{ path('addCategory') }}">Ajouter une catégorie</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom de la catégorie</th>
                    <th>Description de la catégorie (optionnel)</th>
                </tr>
            </thead>
            <tbody>
                {% for i in cat %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}